.all-button{
  color: #fff;
  margin: 64px 13px 0 13px ;
  padding: 19px 75px 18px ;
  background-color: rgba(0,0,0,0);
  border: 1px solid #65707b;
  border-radius: 10px;
  height: 50px;
  width: 220px;
}
.block-header-button{
  margin-top: 83px;
  text-align: center;

}
.button-form{
  color: #fff;
  margin: 0 ;
  padding: 19px 75px 18px ;
  background-color: rgba(0,0,0,0);
  border: 1px solid #65707b;
  border-radius: 10px;
  height: 50px;
  width: 220px;
}