.all-button:hover{
  border-radius: 10px;
  background-color: #f7600e;
}
.block-orange:hover{
  opacity: 1;
}
.block-our-team li:hover{
  color: #3b434c;
}
.personal-size:hover{
  width: 262px;
  height: 315px;
  border-bottom:5px solid #f7600e ;
}
.block-our-team-personal-name:hover{
  color: #3b434c;
}
.button-form:hover{
  border-radius: 10px;
  background-color: #f7600e;
}