.picture {
  width: 360px;
  height: 360px;
}

.block-work-ipad {
  background-image: url(" ../../src/img/ipad-606766_1920.png")

}


.block-work-office {
  background-image: url("../../src/img/office-605503_1920.png");

}


.block-work-technology {
  background-image: url("../../src/img/technology-792180_1920.png");
}


.block-work-macbook {
  background-image: url("../../src/img/macbook-624707_1920.png");
}

.block-work-business {
  background-image: url("../../src/img/business-925900_1920.png");
}

.block-work-imac {
  background-image: url("../../src/img/imac-606765_1920.png");
}


